{% extends 'user/edit_base.html' %}

{% block actions_content %}{% endblock %}

{% block breadcrumb_content -%}
    {{ ui.breadcrumb(_('Users'), href=h.url_for('user.index')) }}
    {{- ui.breadcrumb(user_dict.display_name, href=h.url_for('user.read', id=user_dict.name)) }}
    {{- ui.breadcrumb(_('Manage'), href="#", active=true) }}
{%- endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.heading, level=1) -%}
        {% block page_heading %}{{ _('Edit Profile') }}{% endblock %}
    {%- endcall %}
    {{ form | safe }}
{% endblock %}

{% block secondary_content %}
    <section class="module module-narrow module-shallow">
        <div class="module-group">
            <h2 class="module-heading">{{ ui.icon("info-circle") }} {{ _('Account Info') }}</h2>
            <div class="module-content">
                {{ _("Your profile lets other CKAN users know about who you are and what you do.") }}
            </div>
        </div>
    </section>
{% endblock %}
