{%- macro activity_list(content) -%}
    {{ ui.list(content, **kwargs) }}
{%- endmacro %}

{%- macro facet_list(content) -%}
    <ul {{ ui.util.attrs(kwargs) }} class="list-unstyled nav nav-simple nav-facet">{{ content }}</ul>
{%- endmacro %}

{%- macro group_list(content) -%}{{ ui.grid(content, **kwargs) }}{%- endmacro %}

{%- macro organization_list(content) -%}{{ ui.group_list(content, **kwargs) }}{%- endmacro %}

{%- macro package_list(content) -%}
    <ul {{ ui.util.attrs(kwargs) }} class="dataset-list list-unstyled">
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro resource_list(content) -%}
    <ul {{ ui.util.attrs(kwargs) }} class="resource-list">
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro user_list(content) -%}
    <ul {{ ui.util.attrs(kwargs) }} class="user-list">{{ content }}</ul>
{%- endmacro %}


{%- macro accordion(content, title, open, content_class) -%}
    {%- set header_id = ui.util.id() -%}
    {%- set id = ui.util.id() -%}
    <div {{ ui.util.attrs(kwargs) }} class="accordion-item">
        <h2 class="accordion-header" id="{{ header_id }}">
            <button class="accordion-button {{ 'collapsed' if not open }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ 'true' if open else 'false' }}" aria-controls="{{ id }}">
                {{ title }}
            </button>
        </h2>
        <div id="{{ id }}" class="{{ content_class }} accordion-collapse collapse {{ 'show' if open }}" aria-labelledby="{{ header_id }}" >
            <div class="accordion-body">
                {{ content }}
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro button_group(content, direction="row") -%}
    <div {{ ui.util.attrs(kwargs) }} class="btn-group btn-group-{{ direction }}">
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro card(content, title, footer, img, href) -%}
    <div {{ ui.util.attrs(kwargs) }} role="article" aria-label="{{ title if title else _('Card') }}" style="border: 1px solid gray">
        {%- if img -%}
            {{ ui.image(img, **kwargs) }}
        {%- endif %}

        <strong>
            {%- if href -%}
                {{ ui.link(title, href=href) }}
            {%- else -%}
                {{ title }}
            {%- endif %}
        </strong>

        {%- if content -%}
            <div>{{ content }}</div>
        {%- endif %}

        {%- if footer -%}
            <div>{{ footer }}</div>
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro column(content, span, offset) -%}
    <div {{ ui.util.attrs(kwargs) }} class="col
        {%- if span %}
        {%- for breakpoint, size in span.items() %} col-{{ breakpoint ~ '-' if breakpoint != 'xs' }}{{ size }}{% endfor %}
        {%- endif -%}
        {%- if offset %}
        {%- for breakpoint, size in offset.items() %} offset-{{ breakpoint ~ '-' if breakpoint != 'xs' }}{{ size }}{% endfor %}
        {%- endif -%}
        ">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro container(content, fluid) -%}
    <div {{ ui.util.attrs(kwargs) }} class="container {{ 'container-fluid' if fluid }}">{{ content }}</div>
{%- endmacro %}

{%- macro grid(content) -%}
    {%- call ui.util.call(ui.container, **kwargs) -%}
        {{ content }}
    {%- endcall %}
{%- endmacro %}

{%- macro row(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="row">{{ content }}</div>
{%- endmacro %}

{%- macro list(content) -%}
    <ul {{ ui.util.attrs(kwargs) }} class="list-unstyled">
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro list_item(content) -%}
    <li {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </li>
{%- endmacro %}

{%- macro dropdown(content, title, inline, id, style="primary") -%}
    {%- do kwargs.setdefault("data", {}).setdefault("bs-toggle", "dropdown") -%}
    {%- do kwargs.setdefault("attrs", {}).setdefault("id", ui.util.id()) -%}
    {%- do kwargs.setdefault("aria", {}).setdefault("expanded", "false") -%}

    <div class="dropdown {{ 'btn-group' if inline }}">
        {{ ui.button(title, style=style ~ " dropdown-toggle", **kwargs) }}
        <ul class="dropdown-menu" aria-labelledby="{{ kwargs.attrs.id }}">
            {{ content }}
        </ul>
    </div>
{%- endmacro %}

{%- macro tab_content(content, id) -%}
    <div {{ ui.util.attrs(kwargs) }} id="{{ id }}">
        {{ content }}
    </div>
{%- endmacro %}
